apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: merch-store
  labels:
    app: auth
spec:
  replicas: 3
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      name: auth
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: merch-store-auth:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 9090
              name: grpc
          envFrom:
            - configMapRef:
                name: merch-config
            - secretRef:
                name: merch-secrets
          readinessProbe:
            tcpSocket:
              port: 9090
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 9090
            initialDelaySeconds: 10
            periodSeconds: 15
          resources:
            requests:
              cpu: 400m
              memory: 128Mi
            limits:
              cpu: 800m
              memory: 256Mi
      