apiVersion: apps/v1
kind: Deployment
metadata:
  name: store
  namespace: merch-store
  labels:
    app: store
spec:
  replicas: 1
  selector:
    matchLabels:
      app: store
  template:
    metadata:
      labels:
        app: store
    spec:
      containers:
        - name: store
          image: merch-store-store:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 9091
              name: grpc
          envFrom:
            - configMapRef:
                name: merch-config
            - secretRef:
                name: merch-secrets
          readinessProbe:
            tcpSocket:
              port: 9091
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 9091
            initialDelaySeconds: 10
            periodSeconds: 15
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi